<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="0;URL=../../../../openrailwaymap_exporter/exporter/svg/struct.SvgComponent.html">
    <title>Redirection</title>
</head>
<body>
    <p>Redirecting to <a href="../../../../openrailwaymap_exporter/exporter/svg/struct.SvgComponent.html">../../../../openrailwaymap_exporter/exporter/svg/struct.SvgComponent.html</a>...</p>
    <script>location.replace("../../../../openrailwaymap_exporter/exporter/svg/struct.SvgComponent.html" + location.search + location.hash);</script>
</body>
</html>